<ion-content class="login-content" padding>

  <!-- Logo Items  -->
  <ion-row class="logo-row">

      <!-- Logo Image  -->
      <img style="height : 300px; width : 400px;" src="assets/imgs/FullSizeRender.jpg"/>

      <!-- Logo Title  -->
    <ion-col class="logo-text">
        <h4>Join the Fun</h4>
    </ion-col>

  </ion-row>

  <!-- Area for the login stuff. -->
  <div class="login-box">

    <!-- Login Form Start -->
    <form>

      <!-- Username and Password Inputs  -->
      <ion-row>
        <ion-col>
          <ion-list inset>

            <!-- Input for teh email.  -->
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" required class="custom-input" [(ngModel)]="user.email"></ion-input>
            </ion-item>

            <!-- Input for the password. -->
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" required class="custom-input" [(ngModel)]="user.password"></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <!-- Login button  -->
      <ion-row>
        <ion-col class="signup-col">

          <button ion-button class="email-btn" block clear (click)="emailSignIn(user)"> Login </button>
        </ion-col>
      </ion-row>

      <!-- Register statement.  -->
      <ion-row>
        <ion-col class="signup-col">
          <h5>Don't have an account? <a href=""> Register </a> </h5>
        </ion-col>
      </ion-row>





    </form>

          <!-- Terms of service statement.  -->
          <hr>
          <h6 style="text-align : center; font-size : 11px;">By clicking "Continue", I agree to our <a href="#">Terms of Service.</a></h6>
  </div>
</ion-content>
