page-login {

  .login-content {
    background: white;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background: white;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .submit-btn {
       background: #3B5998;
       color: white;
       height: 44px;
     }

     .email-btn {
       background: white;
       color: black;
       height: 44px;
       border: 1px solid grey;
       margin-top: 22px;
     }
  }


  hr {
  border: 1px solid black !important;
  height: 0.04px !important;
  display: block !important;
  visibility: visible !important;
}

  logo-text {
    font-size: 33px, bold;
    color : green;
  }

}
